# This is a config file

# This is line 3 of a config file
maxt=                 10.0
checkpoint_interval=  25
dt=                   .001
X=                    43.438
Y=                    43.437
Z=                    43.437
npart=                512
ratio=                .2
H=                    10
MU=                   .01
