# This is a config file

# This is line 3 of a config file
maxt=                 20.0
checkpoint_interval=  50
dt=                   .001
X=                    7.239592e+01
Y=                    3.619796e+01
Z=                    3.619796e+01
npart=                448
ratio=                .5
H=                    1000
MU=                   .01
