# This is a magrheol config file

# maxt in 1e-4 seconds
maxt=                 20.
checkpoint_interval=  50
dt=                   .001

# Particle counts/ratio
npart=                729
ratio=                .5
                      
# dimensions in micrometers
X=                    5.429694e+01
Y=                    5.429694e+01
Z=                    5.429694e+01

# Magnetic field and dipole
H=                    1000
MU=                   .01


